* {
  box-sizing: border-box;
}

body {
  font-family: "open sans", sans-serif;
}

h1 {
  align-content: center;
  font-size: 2.5rem;
  color: #e20000;
}

h2 {
  font-size: 1.5rem;
  color: #26fc86;
}
